body {    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: lighter;
    text-rendering: optimizeLegibility; 
    text-align: justify;
    margin-left: 10%;
    background: #000000;
}


.ibm-plex-sans-regular {
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: normal;
}
  
.ibm-plex-sans-light {
    font-family: "IBM Plex Sans", serif;
    font-weight: 300;
    font-style: normal;
}

.circle {
    width: 90vw;
    margin: 0 auto;
    height: 100vh;
    background: radial-gradient(circle, #9ed65e, rgba(158, 214, 94, 0) 65%);
}

h1 {
    font-size: 1.8em;
}

nav {
    margin-bottom: 5em;
    margin-top: 5em;
}

button, a {
    color: #000000;
}

a:hover {
    color: #9ed65e;
    transition: 1s;
}

nav {
    margin: 0 auto;
}

#header, #services, footer {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 5em;
    margin-top: 5em;
}

#services {
    display: flex;
}

.item {
    width: 65em;
    display: block;
    margin-right: 35px; 
}

.item h3 {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-block-color: #000000;
    border-inline-color: #000000;
    border-radius: 5px;
    background-color: #D6FFA7;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #9ed65e;
}

.btn:active {
    background-color: #9ed65e;
}

footer {
    padding-bottom: 10px;
}

@media (max-width: 900px) {
    #services {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }

    .circle {
        background: radial-gradient(circle, #9ed65e, rgba(158, 214, 94, 0) 45%);
    }

}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin-right: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}